.container{
    height:100%;
    display: flex;
}
.body{
    width:300px;
    min-width: 300px;
    max-width: 300px;
    display: flex;
    flex-direction: column;
    height:100%;
    padding:5px; 
    transition: all 0.3s;
    overflow: hidden;
}
.body *{
    transition: all 0.3s;
}
.sideButton{
    width:20px;
    height:100%;
}
.messages{
    width:100%;
    flex:1;
    max-height: calc(100% - 100px);
    overflow-x: hidden;
    overflow-y: auto;
}
.input{
    width:100%;
    height: 100px;
    display: flex;
}
.input textarea{
    flex:1;
    width:100%;
    height: 100px;
}
.sendButton{
    width:30px;
    height: 100%;
}
.message{
    width:100%;
    max-width:100%;
    min-height: 50px;
    overflow-wrap: break-word;
}