.container{
  width: 100%;
  height: 100%;
  max-height: 100%;
  display: flex;
  overflow-y: auto;
}

.soccerTable {
  width: 100%;
  border-collapse: collapse;
  text-align: center;
  table-layout: fixed;
}

.soccerTable tbody tr{
  cursor: pointer;
}

.soccerTable thead {
  top:0;
  position:sticky;
  border-bottom: 1px solid #ccc;
}

.soccerTable thead th {
  padding: 8px;
}

.soccerTable tbody td {
  padding: 8px;
  border-bottom: 1px solid #eee;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}