.container{
  width: 100%;
  height: 100%;
  display: flex;
  background-color: rgba(128, 128, 128, 0.089);
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  padding-right: 50px;
}

.container div{
  color:rgba(100,100,100);
  font-size:12px;
}