.container{
  width: 100%;
  height: 100%;
  display: flex;
}
.bodyWrapper{
  display: flex;
  flex:1;
  height: 100%;
}

.verticalAd{
  width:150px;
  height: 100%;
  padding:15px;
}

.horizontalAd{
  width:100%;
  height:80px;
  padding:15px;
}

.chat{
  height: 100%;
  display: flex;
}

.content{
  display: flex;
  flex-direction: column;
  flex:1;
  height: 100%;
}

.article{
  flex:1;
  width: 100%;
  height: 100%;
  /* border:var(--border); */
}

.ad{
  /* border:var(--border); */
  display: flex;
  justify-content: center;
  align-items: center;
  width:100%;
  height:100%;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  background-color: transparent;
  cursor: pointer;
  box-sizing: border-box;
}
.ad:hover{
  border:var(--border);
}
.leftAd {
  background-image: url('/images/vertical_ad.png');
}
.rightAd {
  background-image: url('/images/vertical_ad2.jpg');
}
.bottomAd {     
  background-image: url('/images/horizontal_ad.png');
}

