.container{
  width: 100%;
  height: 100%;
  display: flex;
}
.bodyWrapper{
  display: flex;
  flex:1;
  height: 100%;
}

.verticalAd{
  width:150px;
  height: 100%;
  padding:10px;
}

.horizontalAd{
  width:100%;
  height: 60px;
  padding:10px;
}

.chat{
  height: 100%;
  display: flex;
}

.content{
  display: flex;
  flex-direction: column;
  flex:1;
  height: 100%;
}

.article{
  flex:1;
  width: 100%;
  /* border:var(--border); */
}

