.container{
  width: 100%;
  height: 100%;
  display: flex;
}
.bodyWrapper{
  display: flex;
  flex:1;
  height: 100%;
}

.verticalAd{
  width:150px;
  height: 100%;
  padding:15px;
}

.horizontalAd{
  width:100%;
  height:80px;
  padding:15px;
}

.chat{
  height: 100%;
  display: flex;
}

.content{
  display: flex;
  flex-direction: column;
  flex:1;
  height: 100%;
}

.article{
  flex:1;
  width: 100%;
  /* border:var(--border); */
}

.leftAd {
  width:100%;
  height:100%;
  background-image: url('/images/vertical_ad.png');
  background-size: cover;     
  background-position: center;
  background-repeat: no-repeat;
}
.rightAd {
  width:100%;
  height:100%;
  background-image: url('/images/vertical_ad2.jpg');
  background-size: cover;     
  background-position: center;
  background-repeat: no-repeat;
}
.bottomAd {     
  width:100%;
  height:100%; 
  background-image: url('/images/horizontal_ad.png');
  background-size: cover;     
  background-position: center;
  background-repeat: no-repeat;
}

