:root {
  --background: #ffffff;
  --foreground: #171717;
  --border-color: rgb(200,200,200);
  --border:1px solid var(--border-color);
  --box-shadow: 0px 1px 1px 1px rgba(0,0,0,0.1);
  --box-shadow-inset: inset 0px 0px 3px rgba(0,0,0,0.3);
  --signature : rgb(95, 69, 247);
  --sub-signature : rgba(95, 69, 247, 0.5);
}

@font-face {
  font-family: 'AppleSDGothicNeo';
  src: url('/fonts/AppleSDGothicNeoL.woff2') format('woff2'),
       url('/fonts/AppleSDGothicNeoL.woff') format('woff'),
       url('/fonts/AppleSDGothicNeoL.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

/* Medium */
@font-face {
  font-family: 'AppleSDGothicNeo';
  src: url('/fonts/AppleSDGothicNeoM.woff2') format('woff2'),
       url('/fonts/AppleSDGothicNeoM.woff') format('woff'),
       url('/fonts/AppleSDGothicNeoM.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

/* Bold */
@font-face {
  font-family: 'AppleSDGothicNeo';
  src: url('/fonts/AppleSDGothicNeoB.woff2') format('woff2'),
       url('/fonts/AppleSDGothicNeoB.woff') format('woff'),
       url('/fonts/AppleSDGothicNeoB.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

::-webkit-scrollbar {
  width: 5px; /* 스크롤바 두께 */
  height: 5px; /* 가로 스크롤도 적용 가능 */
}

/* 스크롤 트랙 */
::-webkit-scrollbar-track {
  background: rgba(100, 100, 100, 0.2); /* 트랙 숨김 */
}

/* 스크롤 thumb */
::-webkit-scrollbar-thumb {
  background-color: rgba(100, 100, 100, 0.5);
  border-radius: 4px;
}

/* hover 시 강조 */
::-webkit-scrollbar-thumb:hover {
  background-color: rgba(100, 100, 100, 0.8);
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: 'AppleSDGothicNeo', -apple-system, BlinkMacSystemFont, "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

 div {
  /* border:1px solid black */
 }

 .row-shrunk{
  width: 0 !important;
  min-width: 0 !important;
  max-width: 0 !important;
  padding: 0 !important;
  overflow: hidden !important;
 }
 
 .row-shrunk *{
  opacity: 0;
 }

 .none{
  display: none;
 }

 .button{
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  user-select: none;
 }
 
 .pointer{
  cursor: pointer;
  user-select: none;
 }

 .unselectable {
  user-select: none; /* 대부분 브라우저에서 적용 */
  
  /* 크로스 브라우저 대응 */
  -webkit-user-select: none; /* Chrome, Safari, iOS */
  -moz-user-select: none;    /* Firefox */
  -ms-user-select: none;     /* IE/Edge */
}

.omit{
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}