.container{
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
    user-select: none;
}
.header{
    display: flex;
    width:100%;
    height: 60px;
}
.body{
    width:100%;
    flex:1;
    padding:10px;
    display: flex;
    flex-direction: column;
}
.footer{
    width:100%;
    margin-top:auto;
    display: flex;
    justify-content: center;
    align-items: center;
    gap:30px;
}

.boardTable {
  width: 100%;
  border-collapse: collapse;
  text-align: center;
  table-layout: fixed;
}

.boardTable thead th {
  border-bottom: 1px solid #ccc;
  padding: 8px;
}

.boardTable tbody td {
  padding: 8px;
  border-bottom: 1px solid #eee;
}

/* 열 너비 비율 */
.boardTable thead th:nth-child(1),
.boardTable tbody td:nth-child(1) {
  width: 10%;
}

.boardTable thead th:nth-child(2),
.boardTable tbody td:nth-child(2) {
  width: 50%;
  text-align: left;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.boardTable thead th:nth-child(3),
.boardTable tbody td:nth-child(3){
  width: 10%;
  padding:0;
  color:rgb(100, 100, 100);
}

.boardTable thead th:nth-child(4),
.boardTable tbody td:nth-child(4){
  width: 10%;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.boardTable thead th:nth-child(5),
.boardTable tbody td:nth-child(5) {
  width: 20%;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}