.container{
  width: 100%;
  height: 100%;
  display: flex;
  background-color: black;
}

.logo{
  width:300px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color:white;
  font-weight: bold;
  user-select: none;
}
.menus{  
  flex:1;
  height: 100%;
  display: flex;
  padding-top:40px;
  padding-bottom: 10px;
}
.menu{  
  color:white;
  flex:1;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  border: 3px solid black;
  transition: all 0.3s;
  cursor:pointer;
  font-weight: bold;
  user-select: none;
}
.menu:hover,.active{  
  border-bottom: 3px solid var(--signature);
}
.profile{  
  width:300px;
  height: 100%;
  display: flex;
}